* {
  margin: 0;
  padding: 0;
}

#board {
  width: 630px;
  height: 630px;
  box-sizing: content-box;
  border: 3px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.tile {
  box-sizing: border-box;
}